/* El carrusel mantiene una relación de aspecto (alto proporcional al ancho) */
.carousel-ratio {
  position: relative;
  width: 100%;
  aspect-ratio: 20/6; /* tamaño de las imagenes */
  overflow: hidden;
}

.carousel-ratio img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
