@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

:root {
  --rosa: #f78cc7;
  --magenta: #e60e42;
  --azulPetroleo: #001722;
  --negro: #00090f;
  --blanco: #ecf5fb;
  --grisClaro: #57656c;
  --grisOscuro: #23333b;
  --ambar: #ffbf00;
  --verdeNeon: #14FF00;
  --verdeExito: #2ecc71;

}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.titulo {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
